<?xml version="1.0"?>
<AlteryxJavaScriptPlugin>
  <Properties>
    <MetaInfo>
      <Name>Clean Nulls, Field Sorter, JiraPy, Mimesis Data Generator, NERD, Tweepyx, VADER_Sentiment, Open Weather</Name>
      <RootToolName>ayx_builders</RootToolName>
      <Description>A collection of Python and Go tools created by the ayx_builder group</Description>
      <CategoryName>ayx_builders</CategoryName>
      <ToolVersion>0.0.1</ToolVersion>
      <Author>ayx_builders</Author>
      <Company></Company>
      <Copyright>2020</Copyright>
      <SearchTags>ayx_builders, go, python</SearchTags>
      <Icon>icon.png</Icon>
    </MetaInfo>
  </Properties>
</AlteryxJavaScriptPlugin>